!!!
%html
  %head
    %title やる気
    %meta{ charset: 'utf-8'}
    %link(rel='stylesheet' href='css/bootstrap.css')
    %link(rel='stylesheet' href='css/bootstrap-responsive.css')/
    :css
      body {
      padding-top: 60px;
      }

    %body
      .container
        .navbar.navbar-fixed-top
          .navbar-inner
            .container
              %a.btn.btn-navbar
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.brand(href='/')
                やる気スイッチ
              .nav-collase
        .row
          .span0
          .span12
            %a(href='randomjump')
              %img(src='img/switch_on.jpg')
          .span0



      %script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
      %script{:src => 'js/bootstrap.min.js'}
