!!!
%html
  %head
    %title やる気
    %meta{ charset: 'utf-8'}
    %link(rel='stylesheet' href='css/bootstrap.css')
    %link(rel='stylesheet' href='css/bootstrap-responsive.css')/
    :css
      body {
      padding-top: 60px;
      }

    %body
        %h1 やる気
        %h2 やるえもんズ
        %p welcome to my website made
      .container
        .navbar.navbar-fixed-top
          .navbar-inner
            .container
              %a.btn.btn-navbar
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.brand(href='/')
                やる気スイッチ
              .nav-collase
        .row
          .span3
          .span6
            %h1 やる気
            %a(href='video')
              %img(src='img/switch_on.jpg')
          .span3



      %script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
      %script{:src => 'js/bootstrap.min.js'}
>>>>>>> ccca2ed2d753b49c378335cb9966378da6324498
