!!!
%html
    %head
        %title やる気
    %body
        %h1 やる気
        %p welcome to my website made
        %a(href='http://ruby-lang.org')<Ruby
        %img(src='http://day.living-tokyo.com/wp-content/uploads/2009/09/090301.jpg')
