!!!
%html
  %head
    %title やる気スイッチ
    %meta{ charset: 'utf-8'}
    %link(rel='stylesheet' href='css/bootstrap.css')
    %link(rel='stylesheet' href='css/bootstrap-responsive.css')/
    :css
      body {
      padding-top: 60px;
      }

    %body
      .container
        .navbar.navbar-fixed-top
          .navbar-inner
            .container
              %a.btn.btn-navbar
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.brand(href='/')
                やる気スイッチ
              .nav-collase
        .row
          .span2
          .span8
            %iframe(src=@ary2 width="800" height="650" frameborder="0" allowfullscreen)
          .span2



      %script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
      %script{:src => 'js/bootstrap.min.js'}
